/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    font-family: 'Balsamiq Sans', cursive, sans-serif;
    color: #E18335  ;
    background-color: #D8F6FD;
    font-size: 24px;
    min-height: 100%;
 }
 a{
     text-decoration: none;
     color: inherit;
 }

nav .logo .logoLetter{
    font-family: 'Carter One', cursive;
}

nav{
    background-color: #07A0C3;
    color: #FFFD82;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 2.5vh 5vw;
    font-size: 36px;
}

.logo{
    font-size: 0px;
    
}

.logo span{
    font-size:36px;
}


nav .links{

}

.links ul{
    display: flex;
    flex-direction: row;
}

nav .links li{
    margin-left: 5rem;
}

footer{
    width: 100%;
    background-color: #48639C;
    color: #FFFD82;
    text-align: center;
    padding: 5px 0;
    height: 3rem;
    position: absolute;
    bottom: 0;
}

.main{
    margin: 20px;
}